.sqr {
    width: 50px;
    height: 100px;
    border: 1px solid black;
}

.cont {
    display: flex;
    flex-wrap: wrap;
}

.cont > * {
    flex: 0 0 6%
}

/* .sqr:hover {
    background-color: black;
} */
